name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...
